@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Raleway:wght@500&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "calibri";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  cursor: none;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #ff7b00;
}

.cursor-outline {
  width: 50px;
  height: 50px;
  border: 2px solid #f1850a;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1001;
}

@font-face {
  font-family: "arialbi";
  src: url("/fonts/arialbi.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "calibri";
  src: url("/fonts/calibri.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibrib";
  src: url("/fonts/calibrib.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

.logo img {
  /* position: absolute; */
  margin-top: 3%;
  object-fit: contain;
}

.logo {
  color: #fff;
}

header {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #015fa1;
  padding: 21px 3px 4px 3px;
}

nav ul {
  display: flex;
  margin-left: 30px;
}

nav ul li a {
  font-size: 20px;
  margin: 25px;
  color: #fff;
  text-decoration: none;
  cursor: none;
}

nav ul li a:hover {
  color: #0c0502;
  font-size: 22px;
  transition: 0.4s ease;
  color: rgb(255, 156, 43);
}

.banner-img img {
  width: 100%;
  height: 700px;
}

.banner {
  position: relative;
}

.banner-color {
  width: 100vw;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
}

.banner-text {
  position: absolute;
  top: 35%;
  left: 23%;
  z-index: 1;
}

.banner-text h1 {
  color: #ffffff;
  font-size: 6rem;
  font-family: "Inter";
}

.profile-header h1 {
  font-size: 3rem;
  font-family: "Inter";
}

.profile-info-left-one img {
  width: 75%;
  height: 40%;
  background-color: #fff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(-30%);
}

.profile-info-left-one-float img {
  transform: translateX(0);
  transition: all 2s ease;
  width: 75%;
  height: 40%;
  background-color: #fff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-info-left-second img {
  width: 80%;
  height: 20%;
  background-color: #fff;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(20%);
  margin-left: 0%;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.profile-info-right,
.profile-info-left {
  max-width: 40%;
}

.profile-info-right p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.4;
}

.profile-info-right p:first-of-type {
  margin-top: 30px;
}

.profile-info-right button {
  margin-top: 35px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
}

.profile-info-right button:hover {
  background-color: #fa7e49;
  color: #fff;
  transition: 0.4s ease;
  border: none;
  font-size: 22px;
}

.profile {
  background-color: rgb(244, 244, 244);
  padding-bottom: 7%;
}

.profile-info-left {
  position: relative;
}

.profile-info-left-second {
  position: absolute;
  left: 45%;
  top: 45%;
}

.product-image img {
  width: 80%;
  height: 350px;
  margin-left: 10%;
}

.product-df > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.product-color {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.product-color h1 {
  font-weight: normal;
  opacity: 1;
  font-size: 3rem;
}

.product-df > div:hover .product-color {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.product-df {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.product-header h1 {
  font-family: "Inter";
  font-size: 2.3rem;
  text-align: left;
  margin-top: 5%;
  text-transform: capitalize;
  margin-left: 7%;
}
.quality-assurance {
  display: flex;
  justify-content: center;
  padding: 14px 0 1px 0;
  margin-top: 3%;
  background-color: #f96120;
  font-size: 27px;
  color: #fff;
}

.product-text {
  background-color: #015fa1;
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.product-text h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

#finn-wall {
  object-fit: cover;
}

.map {
  margin-top: 2%;
  background-color: #f3f1f1;
}

.map-header h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Inter";
  padding-top: 3%;
}

.map-img img {
  width: 100%;
  height: 700px;
  object-fit: contain;
}

#map {
  width: 100%;
  height: 600px;
  margin-top: 3%;
}

.map-header p {
  text-align: center;
  margin-top: 2%;
  font-size: 24px;
}

.aero {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.aero img {
  clip-path: circle(50%);
  margin-top: 20px;
}

.certification {
  padding: 3% 0;
}

.certification-header h1 {
  font-size: 3rem;
  text-align: center;
}

.certification-img {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
  align-items: center;
}

.profile-trans {
  transform: translateX(20%);
}

.profile-trans-float {
  transition: all 1.6s ease;
  transform: translateX(0);
}

.product1 {
  transform: translateX(-30%);
}

.product1-float {
  transform: translateX(-10%);
  transition: all 1.3s ease;
}

.product1-float:hover,
.product2-float:hover,
.product3-float:hover {
  /* margin-left: -3%; */
  transition: 0.5s ease;
  transform: scale(1.1);
}

.product2 {
  transform: translateX(10%);
}

.product2-float {
  transform: translateX(0%);
  transition: all 1s ease;
}

.product3 {
  transform: translateX(40%);
}

.product3-float {
  transform: translateX(0);
  transition: all 1.3s ease;
}

form input {
  width: 200px;
  height: 40px;
  font-size: 17px;
  padding: 3px 10px;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 10px;
  border: 1px solid #000;
}

form svg {
  width: 30px;
  height: 30px;
}

#message {
  margin-left: 1%;
  margin-top: 20px;
  font-size: 18px;
  padding: 3px 10px;
}

.message-f {
  display: flex;
  align-items: flex-start;
  margin-top: 1%;
}

.submit-btn button {
  margin-top: 35px;
  font-size: 20px;
  padding: 6px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
  margin-left: 9%;
}

.form-header h1 {
  font-size: 3rem;
  font-family: "Protest Strike";
  word-spacing: 4px;
  letter-spacing: 2px;
}

.message-f svg {
  margin-top: 5%;
}

.needs-validation {
  margin-left: 5%;
}

.form {
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  padding: 6% 2% 0% 2%;
}

.form-left {
  max-width: 30%;
}

.form-top {
  display: flex;
  align-items: center;
}

.phone-f {
  margin-top: 20px;
  margin-left: -5px;
}

.name-f,
.email-f,
.company-name-f,
.phone-f {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-f {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: -7px;
}

.email-f {
  margin-left: 5%;
}

.company-name-f {
  margin-top: 20px;
  margin-left: -5px;
}

.form-left p {
  font-size: 20px;
  margin-top: 20px;
}

.form-left img {
  width: 250px;
  height: 250px;
  margin-top: -8%;
}

.footer-follow-us span {
  display: flex;
  gap: 5px;
}

.footer-follow-us span svg {
  width: 20px;
  height: 20px;
}

.footer-follow-us span h6 {
  font-size: 21px;
}

.footer-df {
  display: flex;
  justify-content: space-around;
  padding: 3% 0;
}

.footer-contact {
  max-width: 27%;
  text-transform: capitalize;
}

.footer-contact b {
  text-transform: uppercase;
}

.footer-contact li {
  font-size: 17px;
  margin-top: 10px;
}

.footer-follow-us {
  margin-top: 35%;
}

.footer-icons {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-top: 10px;
}

.fotter-servcie li {
  margin-top: 10px;
  font-size: 18px;
}

.fotter-servcie li:hover {
  color: #f1850a;
}

.fotter-servcie li:first-of-type {
  margin-top: 2%;
}

.footer h3 {
  font-weight: bolder;
}

.footer-qr {
  margin-left: -34%;
}

#footer-email {
  text-transform: uppercase;
}

#linkedin {
  color: #0273b2;
}

#youtube {
  color: #ff0000;
}

#facebook {
  color: #0e87ef;
}

#footer-top {
  margin-top: 5%;
  width: 90%;
  height: 1px;
  border-color: #0080ff;
}

.footer-top-df {
  display: flex;
  justify-content: center;
}

#footer-bottom {
  margin-bottom: 5%;
  width: 90%;
  height: 1px;
  border-color: #0080ff;
}

.footer-bottom-df {
  display: flex;
  justify-content: center;
}
