@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Raleway:wght@500&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Oswald&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Roboto+Slab&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Archivo:ital,wght@1,600&family=Catamaran&family=Dosis:wght@300&family=Inter:wght@500&family=Oswald&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Roboto+Slab&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Abel";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --heading-font: "Mulish";
}

body {
  overflow-x: hidden;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #ff7b00;
}

.cursor-outline {
  width: 50px;
  height: 50px;
  border: 2px solid #f1850a;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1001;
}

@font-face {
  font-family: "calibribi";
  src: url("/tashe/public/fonts/calibri-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "calibri";
  src: url("/tashe/public/fonts/calibri-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibrib";
  src: url("/tashe/public/fonts/calibri-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "calibrit";
  src: url("/tashe/public/fonts/calibri-italic.ttf");
  font-weight: normal;
  font-style: italic;
}

.logo img {
  /* position: absolute; */
  margin-top: 3%;
  object-fit: contain;
}

.logo {
  color: #ffffff;
}

header {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 21px 3px 4px 3px;
  width: 100%;
  transition: all 0.2s ease-in;
}

.nav-scrolled {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: rgb(255 141 9 / 24%) 0px 3px 8px;
  align-items: baseline;
  padding: 21px 3px 4px 3px;
  width: 100%;
  color: #000000;
  transition: all 0.1s ease-in;
}

.nav-scrolled nav ul li a,
.nav-scrolled .logo {
  color: #015fa1;
}

nav ul {
  display: flex;
  margin-left: 30px;
}

nav ul li a {
  font-size: 20px;
  margin: 25px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  transition: 0.4s ease;
  color: #f1850a;
}

nav ul li a:hover::before {
  border: #f1850a;
  content: "";
  position: absolute;
  bottom: 25%;
  width: 60px;
  border: 1px solid;
  transition: all 0.1s ease;
}

.banner-img img {
  width: 100%;
  height: 745px;
}

.banner {
  position: relative;
  margin-top: -9%;
}

.banner-color {
  width: 100vw;
  height: 100%;
  background-color: #358cff;
  opacity: 0.3;
  position: absolute;
  top: 0;
}

.banner-text {
  position: absolute;
  top: 44%;
  left: 20%;
  z-index: 1;
}

.banner-text h1 {
  color: #ffffff;
  font-size: 6.2rem;
  font-family: var(--heading-font);
}

.profile-header h1 {
  font-size: 3rem;
  font-weight: bolder;
  font-family: var(--heading-font);
}

.profile-info-left-one img {
  width: 75%;
  height: 40%;
  background-color: #fff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(-30%);
}

.profile-info-left-one-float img {
  transform: translateX(0);
  transition: all 2s ease;
  width: 75%;
  height: 40%;
  background-color: #fff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-info-left-second img {
  width: 80%;
  height: 20%;
  background-color: #fff;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(20%);
  margin-left: 0%;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.profile-info-right,
.profile-info-left {
  max-width: 40%;
}

.profile-info-right p {
  font-size: 18px;
  word-spacing: 2px;
  line-height: 1.4;
  font-family: Catamaran;
}

.profile-info-right p:first-of-type {
  margin-top: 30px;
}

.profile-info-right button {
  margin-top: 35px;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
}

.profile-info-right button:hover {
  background-color: #f1850a;
  color: #fff;
  transition: 0.4s ease;
  border: none;
  font-size: 15px;
}

.profile {
  background-color: rgb(244, 244, 244);
  padding-bottom: 7%;
}

.profile-info-left {
  position: relative;
}

.profile-info-left-second {
  position: absolute;
  left: 45%;
  top: 45%;
}

.product-image img {
  width: 27%;
  height: 38%;
  margin-left: 10%;
}

.product-details button {
  margin-left: 5px;
  margin-top: 15px;
  font-size: 17px;
  padding: 5px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
}

.product-details {
  margin-left: -50%;
}

.product-details h3 {
  font-size: 2.2rem;
  font-weight: bolder;
  font-family: var(--heading-font);
}

.product-details ul li {
  font-size: 19px;
  margin-top: 10px;
  list-style: disc;
}

.product-details ul {
  margin-left: -2%;
  margin-top: 4%;
}

#product3-detail {
  margin-left: 20%;
}

.product3-show img {
  width: 70%;
  height: 50%;
  margin-left: 37%;
}

#product3-detail p {
  margin-left: 0;
  margin-top: 19px;
  max-width: 80%;
  font-size: 19px;
}

.product3-detail-header h1 {
  font-size: 2.6rem;
  font-weight: bolder;
}

.product-df > div {
  padding: 4%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.product-color h1 {
  font-weight: normal;
  opacity: 1;
  font-size: 3rem;
}

.product-df > div:hover .product-color {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.product-df {
  /* display: flex;
  justify-content: space-evenly; */
  /* margin-top: 5%; */
}

.product-header h1 {
  font-weight: bolder;
  font-size: 2.6rem;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 1%;
  text-transform: capitalize;
  margin-left: 5%;
  font-family: var(--heading-font);
}

.quality-assurance {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  background-color: #015fa1;
  font-size: 22px;
  word-spacing: 2px;
  color: #fff;
}

.quality-assurance p {
  margin-bottom: 0;
}

.product-text {
  background-color: #015fa1;
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.product-text h4 {
  font-size: 24px;
}

#finn-wall {
  object-fit: cover;
}

.map {
  margin-top: 2%;
  background-color: #f3f1f1;
  position: relative;
}

.review-right-line h2 {
  font-family: var(--heading-font);
}

.map-header h1 {
  font-family: var(--heading-font);
  text-align: center;
  font-weight: bolder;
  font-size: 2.4rem;
  padding-top: 3%;
}

#map {
  width: 100%;
  height: 600px;
  margin-top: 3%;
}

.map-header p {
  text-align: center;
  margin-top: 2%;
  font-size: 24px;
}

#marker-one {
  position: absolute;
  top: 50%;
  right: 37%;
  width: 30px;
  height: 30px;
}

#marker-two {
  position: absolute;
  top: 40%;
  right: 43%;
  width: 30px;
  height: 30px;
}

.information-one,
.information-two,
.information-three {
  width: 32%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  bottom: 0;
  left: 2%;
  padding: 5px;
}

.information-one-overlap-details h4,
.information-two-overlap-details h4,
.information-three-overlap-details h4 {
  margin-top: 20px;
  font-weight: bolder;
  max-width: 70%;
  margin-left: 16%;
  color: #f1850a;
}

.information-one-overlap-details p,
.information-two-overlap-details p,
.information-three-overlap-details p {
  margin-top: 20px;
  max-width: 70%;
  margin-left: 16%;
}

.information-one-overlap-img img,
.information-two-overlap-img img,
.information-three-overlap-img img {
  width: 70%;
  height: 200px;
  margin-left: 15%;
  margin-top: 5%;
}

.review {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.review-max {
  /* background-color: rgb(224, 241, 255); */
  margin-top: 5%;
  width: 70%;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.review-left {
  height: 300px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2%;
}

.review-left img {
  width: 220px;
  height: 150px;
}

.review-right {
  max-width: 40%;
}

.review-right-line h2 {
  font-weight: bolder;
}

.review-right-line p {
  margin-top: 25px;
}

.aero {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.aero img {
  clip-path: circle(50%);
  margin-top: 20px;
}

.certification {
  padding: 3% 0;
}

.certification-header h1 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--heading-font);
}

.certification-img {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
  align-items: center;
}

.profile-trans {
  transform: translateX(20%);
}

.profile-trans-float {
  transition: all 1.6s ease;
  transform: translateX(0);
}

.product1 {
  display: flex;
}

.product1-float {
  transition: all 1.3s ease;
  display: flex;
}

.product-df .product3 {
  display: none;
}

.product-df .product3-show {
  display: flex;
}

.product-details p {
  max-width: 69%;
  margin-left: 18%;
}

.product1-float:hover,
.product2-float:hover,
.product3-float:hover {
  /* margin-left: -3%; */
  /* transition: 0.5s ease;
  transform: scale(1.1); */
}

.product-df .product2 {
  transition: all 1s ease;
  display: none;
}

.product-df .product-show {
  display: flex;
}

.product-df .product2-show {
  display: flex;
}

.product-df .product2-float {
  transform: translateX(0);
  transition: all 1s ease;
}

.product-df .product3-float {
  transform: translateX(0);
  transition: all 1s ease;
}

form input {
  width: 200px;
  height: 40px;
  font-size: 17px;
  padding: 3px 10px;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 10px;
  border: 1px solid #000;
}

form svg {
  width: 30px;
  height: 30px;
}

#message {
  margin-left: 1%;
  margin-top: 20px;
  font-size: 18px;
  padding: 3px 10px;
}

.message-f {
  display: flex;
  align-items: flex-start;
  margin-top: 1%;
}

.submit-btn button {
  margin-top: 35px;
  font-size: 20px;
  padding: 6px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
  margin-left: 9%;
}

.form-header h1 {
  font-size: 3rem;
  word-spacing: 0px;
  letter-spacing: -1px;
  font-weight: bolder;
  font-family: var(--heading-font);
}

.message-f svg {
  margin-top: 5%;
}

.needs-validation {
  margin-left: 5%;
}

.form {
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  padding: 6% 2% 6% 2%;
}

.form-left {
  max-width: 30%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: -2%;
}

.form-top {
  display: flex;
  align-items: center;
}

.phone-f {
  margin-top: 20px;
  margin-left: -5px;
}

.name-f,
.email-f,
.company-name-f,
.phone-f {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-f {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: -7px;
}

.email-f {
  margin-left: 5%;
}

.company-name-f {
  margin-top: 20px;
  margin-left: -5px;
}

.form-left p {
  font-size: 18px;
  margin-top: 5px;
}

.form-left img {
  width: 250px;
  height: 250px;
  margin-top: -8%;
}

.footer-follow-us span {
  display: flex;
  gap: 5px;
}

.footer-follow-us span svg {
  width: 20px;
  height: 20px;
}

.footer-follow-us span h6 {
  font-size: 21px;
}

.footer-df {
  display: flex;
  justify-content: space-around;
  padding: 3% 0;
}

.footer-contact {
  max-width: 27%;
  text-transform: capitalize;
}

.footer-contact b {
  text-transform: uppercase;
}

.footer-contact li {
  font-size: 17px;
  margin-top: 10px;
  font-family: "Catamaran";
}

.footer-contact li:first-of-type {
  margin-top: 5%;
}

.footer-follow-us {
  margin-top: 35%;
}

.footer-icons {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-top: 10px;
}

.fotter-servcie li {
  margin-top: 23px;
  font-size: 16px;
}

.fotter-servcie li:hover {
  color: #f1850a;
}

.fotter-servcie li:first-of-type {
  margin-top: 27%;
}

.footer h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--heading-font);
}

.footer-qr {
  margin-left: -34%;
}

#footer-email {
  text-transform: lowercase;
}

#linkedin {
  color: #0273b2;
}

#youtube {
  color: #ff0000;
}

#facebook {
  color: #0e87ef;
}

#footer-top {
  margin-top: 5%;
  width: 90%;
  height: 1px;
  border-color: #0080ff;
}

.footer-top-df {
  display: flex;
  justify-content: center;
}

#footer-bottom {
  width: 90%;
  height: 1px;
  border-color: #0080ff;
}

.footer-bottom-df {
  display: flex;
  justify-content: center;
}

.trust-icons-df {
  padding: 4% 0 3% 0;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: flex-start;
}

.trust-icons-df > div {
  text-align: center;
  width: 250px;
  display: flex;
  align-items: center;
}

.num {
  font-size: 3rem;
  color: #f28409;
}

.num::after {
  content: "+";
}

.product-option {
  display: flex;
}

.option {
  width: 500px;
  height: 52px;
  display: flex;
  justify-content: center;
  background-color: rgb(1 95 161);
  align-items: center;
  position: relative;
  margin-top: 20px;
  color: #fff;
}

.selected {
  background-color: #f96120;
  color: #fff;
}

.option-active {
  background-color: #f96120;
  color: #fff;
  width: 500px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.product2-detail-header h1 {
  margin-left: 18%;
  font-size: 2.6rem;
  font-weight: bolder;
}

#product2-detail button {
  margin-left: 18%;
}

#finn-wall {
  width: 100%;
  margin-left: 25%;
}

#product2-detail {
  text-align: left;
  margin-left: 8%;
}

#product2-detail p {
  font-size: 19px;
}

#product2-detail p:first-of-type {
  margin-top: 30px;
}

#option1 {
  background-color: #f96120;
}

#option1::after {
  content: "";
  height: 65px;
  position: absolute;
  top: -14px;
  right: 0%;
  border: 1px solid #ffffff;
  z-index: 1;
}

#option2::after {
  content: "";
  height: 66px;
  position: absolute;
  top: -14px;
  right: 0%;
  border: 1px solid #ffffff;
  z-index: 1;
}

.orders,
.employee,
.satisfied,
.location {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.location {
  width: 350px;
}

.orders::after,
.employee::after,
.satisfied::after {
  content: "";
  width: 1px;
  height: 130px;
  border: 0.5px solid #cecece;
  position: absolute;
  top: 5%;
  right: -15%;
}

.trust-icons-df h4 {
  color: #054d84;
  font-weight: bolder;
}
