@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Raleway:wght@500&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&family=Inter:wght@500&family=Oswald&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Roboto+Slab&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Archivo:ital,wght@1,600&family=Catamaran&family=Dosis:wght@300&family=Inter:wght@500&family=Oswald&family=Pacifico&family=Poppins:wght@600&family=Protest+Riot&family=Protest+Strike&family=Raleway:wght@500&family=Roboto+Slab&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Calibri";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --heading-font: "calibrib";
}

body {
  overflow-x: hidden;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #ff7b00;
}

.cursor-outline {
  width: 50px;
  height: 50px;
  border: 2px solid #f1850a;
}

@font-face {
  font-family: "calibribi";
  src: url("/fonts/calibri-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "calibri";
  src: url("/fonts/calibri-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibrib";
  src: url("/fonts/calibri-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "calibrit";
  src: url("/fonts/calibri-italic.ttf");
  font-weight: normal;
  font-style: italic;
}

.logo img {
  margin-top: 3%;
  object-fit: contain;
}

.logo img {
  margin-top: -10px;
}

header {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 21px 3px 4px 3px;
  width: 100%;
  transition: all 0.2s ease-in;
}

.nav-scrolled {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: rgb(255 141 9 / 24%) 0px 3px 8px;
  align-items: baseline;
  padding: 21px 3px 4px 3px;
  width: 100%;
  color: #000000;
  transition: all 0.1s ease-in;
}

.nav-scrolled nav ul li a,
.nav-scrolled .logo {
  color: #015fa1;
}

nav ul {
  display: flex;
  margin-left: 30px;
}

nav ul li a {
  font-size: 20px;
  margin: 25px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  transition: 0.4s ease;
  color: #f1850a;
}

nav ul li a:hover::before {
  border: #f1850a;
  content: "";
  position: absolute;
  bottom: 25%;
  width: 60px;
  border: 1px solid;
  transition: all 0.1s ease;
}

#mobile-view {
  display: none;
}

.banner-img img {
  width: 100%;
  height: 745px;
}

.banner {
  position: relative;
  margin-top: -9%;
}

.banner-color {
  width: 100vw;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
}

.banner-text {
  position: absolute;
  top: 44%;
  left: 20%;
  z-index: 1;
}

.banner-text h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: var(--heading-font);
}

.profile-header-blue {
  width: 6px;
  height: 30px;
  background-color: #0080ff;
}

.profile-header {
  display: flex;
  align-content: center;
  gap: 2%;
}

.profile-header h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-family: var(--heading-font);
}

.profile-info-left-one img {
  width: 75%;
  height: 40%;
  background-color: #fff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(-30%);
}

.profile-info-left-one-float img {
  transform: translateX(0);
  transition: all 2s ease;
  width: 75%;
  height: 40%;
  background-color: #fff;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-info-left-second img {
  width: 80%;
  height: 20%;
  background-color: #fff;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(20%);
  margin-left: 0%;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}

.profile-info-right,
.profile-info-left {
  max-width: 40%;
}

.profile-info-right p {
  font-size: 18px;
}

.profile-info-right p:first-of-type {
  margin-top: 30px;
}

.profile-info-right button {
  margin-top: 35px;
  font-size: 16px;
  padding: 7px 15px;
  background-color: #f96120;
  border: none;
  color: #fff;
}

.profile-info-right button:hover {
  background-color: #f1850a;
  color: #fff;
  transition: 0.4s ease;
  border: none;
  font-size: 15px;
}

.profile {
  padding-bottom: 7%;
}

.profile-info-left {
  position: relative;
}

.profile-info-left-second {
  position: absolute;
  left: 45%;
  top: 45%;
}

.product-image img {
  width: 27%;
  height: 38%;
  margin-left: 10%;
}

.product-details button {
  margin-left: 5px;
  margin-top: 15px;
  font-size: 17px;
  padding: 5px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
}

.product-details {
  margin-left: -60%;
}

.product-details h3 {
  font-size: 1.8rem;
  font-weight: bolder;
  /* font-family: var(--heading-font); */
  font-family: "calibribi";
}

.product-details ul li {
  font-size: 19px;
  margin-top: 10px;
  list-style: disc;
}

.product-details ul {
  margin-left: -2%;
  margin-top: 4%;
}

#product3-detail {
  margin-left: 20%;
}

.product3-show img {
  width: 70%;
  height: 50%;
  margin-left: 37%;
}

#product3-detail p {
  margin-left: 0;
  margin-top: 19px;
  max-width: 80%;
  font-size: 19px;
}

.product3-detail-header h1 {
  font-family: "calibribi";
  font-size: 1.8rem;
  font-weight: bolder;
}

.product-df > div {
  padding: 4%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.product-color h1 {
  font-weight: normal;
  opacity: 1;
  font-size: 3rem;
}

.product-df > div:hover .product-color {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.product-df {
  /* display: flex;
  justify-content: space-evenly; */
  /* margin-top: 5%; */
}

.product-header h1 {
  font-weight: bolder;
  font-size: 2rem;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 1%;
  text-transform: capitalize;
  margin-left: 5%;
  font-family: var(--heading-font);
  position: relative;
}

.product-header h1::before {
  content: "";
  width: 6px;
  height: 32px;
  background-color: #0080ff;
  position: absolute;
  top: 0;
  left: -13px;
}

.quality-assurance {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  background-color: #015fa1;
  font-size: 22px;
  word-spacing: 2px;
  color: #fff;
}

.quality-assurance p {
  margin-bottom: 0;
}

.product-text {
  background-color: #015fa1;
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.product-text h4 {
  font-size: 24px;
}

#finn-wall {
  object-fit: cover;
}

.map {
  margin-top: 2%;
  background-color: #f3f1f1;
  position: relative;
}

.review-right-line h2 {
  font-family: var(--heading-font);
}

.map-header h1 {
  font-family: var(--heading-font);
  text-align: center;
  font-weight: bolder;
  font-size: 2.4rem;
  padding-top: 3%;
}

#map {
  width: 100%;
  height: 600px;
  margin-top: 3%;
}

.map-header p {
  text-align: center;
  margin-top: 2%;
  font-size: 24px;
}

#marker-one {
  position: absolute;
  top: 50%;
  right: 37%;
  width: 30px;
  height: 30px;
}

#marker-two {
  position: absolute;
  top: 40%;
  right: 43%;
  width: 30px;
  height: 30px;
}

.information-one,
.information-two,
.information-three {
  width: 32%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  bottom: 0;
  left: 2%;
  padding: 5px;
}

.information-one-overlap-details h4,
.information-two-overlap-details h4,
.information-three-overlap-details h4 {
  margin-top: 20px;
  font-weight: bolder;
  max-width: 70%;
  margin-left: 16%;
  color: #f1850a;
}

.information-one-overlap-details p,
.information-two-overlap-details p,
.information-three-overlap-details p {
  margin-top: 20px;
  max-width: 70%;
  margin-left: 16%;
}

.information-one-overlap-img img,
.information-two-overlap-img img,
.information-three-overlap-img img {
  width: 70%;
  height: 200px;
  margin-left: 15%;
  margin-top: 5%;
}

.review {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.review-df {
  /* background-color: rgb(224, 241, 255); */
  margin-top: 5%;
  width: 70%;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #e6873b;
}

.review-header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: var(--heading-font);
  margin-top: 10%;
  position: relative;
}

.review-header h1::before {
  content: "";
  width: 6px;
  height: 32px;
  background-color: #0080ff;
  position: absolute;
  top: 0;
  left: -13px;
}

.review-max {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  gap: 5%;
}

.review-left {
  height: 300px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2%;
}

.review-left img {
  width: 220px;
  height: 150px;
}

.review-right {
  max-width: 40%;
}

.review-right-line h2 {
  font-weight: bolder;
}

.review-right-line p {
  margin-top: 25px;
}

.aero {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.aero img {
  clip-path: circle(50%);
  margin-top: 20px;
}

.certification {
  padding: 3% 0;
}

.certification-header h1 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--heading-font);
}

.certification-img {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
  align-items: center;
}

.profile-trans {
  transform: translateX(20%);
}

.profile-trans-float {
  transition: all 1.6s ease;
  transform: translateX(0);
}

.product1 {
  display: flex;
}

.product1-float {
  transition: all 1.3s ease;
  display: flex;
}

.product-df .product3 {
  display: none;
}

.product-df .product3-show {
  display: flex;
}

.product-details p {
  max-width: 69%;
  margin-left: 18%;
}

.product-df .product2 {
  transition: all 1s ease;
  display: none;
}

.product-df .product-show {
  display: flex;
}

.product-df .product2-show {
  display: flex;
}

.product-df .product2-float {
  transform: translateX(0);
  transition: all 1s ease;
}

.product-df .product3-float {
  transform: translateX(0);
  transition: all 1s ease;
}

form input {
  width: 350px;
  height: 45px;
  font-size: 20px;
  padding: 3px 10px 3px 15px;
  margin-top: 2%;
  border: 1px solid #a4a4a4;
  text-transform: lowercase;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="tel"]::placeholder,
#message::placeholder {
  color: rgb(3, 3, 3);
  font-weight: 300;
  font-size: 16px;
}

form svg {
  width: 30px;
  height: 30px;
}

#message {
  margin-left: 1%;
  margin-top: 20px;
  font-size: 18px;
  padding: 3px 10px;
}

.message-f {
  display: flex;
  align-items: flex-start;
  margin-top: 1%;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn button {
  margin-top: 25px;
  font-size: 20px;
  padding: 6px 20px;
  background-color: #f96120;
  border: none;
  color: #fff;
}

.form-header h1 {
  font-size: 3rem;
  word-spacing: 0px;
  letter-spacing: -1px;
  font-weight: bolder;
  font-family: var(--heading-font);
}

.message-f svg {
  margin-top: 5%;
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f8f8;
  padding: 6% 2% 6% 2%;
  position: relative;
}

.form-left {
  max-width: 30%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: -2%;
}

.form-right-overlap {
  width: 400px;
  height: 560px;
  border-radius: 13px;
  background-color: #15498c;
  position: absolute;
  top: 10%;
  left: 59%;
  z-index: 1;
}

.phone-f {
  margin-top: 20px;
  margin-left: -5px;
}

.form-top {
  margin-left: -2%;
}

.email-f {
  margin-top: 5%;
}

.message-f {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: -7px;
}

.company-name-f {
  margin-top: 20px;
  margin-left: -5px;
}

.form-left p {
  font-size: 18px;
  margin-top: 5px;
}

.form-left img {
  width: 250px;
  height: 250px;
  margin-top: -8%;
  display: none;
}

.form-right {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 50px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.footer-follow-us span {
  display: flex;
  gap: 5px;
}

.footer-follow-us span svg {
  width: 20px;
  height: 20px;
}

.footer-follow-us span h6 {
  font-size: 21px;
}

.footer-df {
  display: flex;
  justify-content: space-around;
  padding: 3% 0;
}

.footer-contact {
  max-width: 27%;
  text-transform: capitalize;
}

.footer-contact b {
  text-transform: uppercase;
  font-family: "calibrib";
}

.footer-contact li {
  font-size: 17px;
  margin-top: 10px;
  font-family: "Catamaran";
}

.footer-contact li:first-of-type {
  margin-top: 5%;
}

.footer-follow-us {
  margin-top: 35%;
}

.footer-icons {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-top: 10px;
}

.fotter-servcie li {
  margin-top: 23px;
  font-size: 16px;
}

.fotter-servcie li:hover {
  color: #f1850a;
}

.fotter-servcie li:first-of-type {
  margin-top: 27%;
}

.footer h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--heading-font);
}

.footer-qr {
  margin-left: -34%;
}

#footer-email {
  text-transform: lowercase;
}

#footer-top {
  margin-top: 5%;
  width: 90%;
  height: 1px;
  border-color: #0080ff;
}

.footer-top-df {
  display: flex;
  justify-content: center;
}

#footer-bottom {
  width: 90%;
  height: 1px;
  border-color: #0080ff;
}

.footer-bottom-df {
  display: flex;
  justify-content: center;
}

.trust-icons-df {
  padding: 4% 0 3% 0;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: flex-start;
}

.trust-icons-df > div {
  text-align: center;
  width: 250px;
  display: flex;
  align-items: center;
}

.num {
  font-size: 3rem;
  color: #f28409;
}

.num::after {
  content: "+";
}

.product-option {
  display: flex;
}

.option {
  padding-top: 9px;
  width: 500px;
  height: 52px;
  display: flex;
  justify-content: center;
  background-color: rgb(1 95 161);
  align-items: center;
  position: relative;
  margin-top: 20px;
  color: #fff;
}

.selected {
  background-color: #f96120;
  color: #fff;
}

.option-active {
  background-color: #f96120;
  color: #fff;
  width: 500px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.product2-detail-header h1 {
  margin-left: 18%;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: "calibribi";
}

#product2-detail button {
  margin-left: 18%;
}

#finn-wall {
  width: 100%;
  margin-left: 25%;
}

#product2-detail {
  text-align: left;
  margin-left: 8%;
}

#product2-detail p {
  font-size: 19px;
}

#product2-detail p:first-of-type {
  margin-top: 30px;
}
/* 
#option1 {
  background-color: #f96120;
} */

#option1::after {
  content: "";
  height: 65px;
  position: absolute;
  top: -14px;
  right: 0%;
  border: 1px solid #ffffff;
  z-index: 1;
}

#option2::after {
  content: "";
  height: 66px;
  position: absolute;
  top: -14px;
  right: 0%;
  border: 1px solid #ffffff;
  z-index: 1;
}

.orders,
.employee,
.satisfied,
.location {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.location {
  width: 350px;
}

.orders::after,
.employee::after,
.satisfied::after {
  content: "";
  width: 1px;
  height: 130px;
  border: 0.5px solid #cecece;
  position: absolute;
  top: -15%;
  right: -15%;
}

.trust-icons-df h4 {
  font-size: 20px;
  color: #054d84;
  font-weight: bolder;
}

.review-right h2 {
  font-family: "calibribi";
}

.review-left h1 {
  margin-top: 18px;
}

#check,
.checkbtn svg {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-scrolled nav ul li a {
    font-size: 21px;
    margin: 0;
    color: #000000;
  }

  .nav-scrolled nav ul li a:hover {
    color: #f1850a;
  }

  nav ul li a:hover::before {
    display: none;
  }

  .banner-img img {
    width: 100%;
    height: 100%;
  }

  .logo img {
    margin-top: -17px;
    margin-left: 35%;
    width: 75px;
    height: 42px;
  }

  .checkbtn svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15%;
    left: 5%;
    display: block;
    transition: all 0.6s ease;
  }

  nav ul {
    display: block;
    position: absolute;
    margin-top: 3%;
    left: -150%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 60%;
    z-index: 10;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  nav ul li {
    margin-top: 15%;
  }

  .nav-scrolled {
    height: 50px;
    flex-direction: row-reverse;
  }

  #check:checked ~ nav ul {
    left: -8%;
  }

  #desktop-view {
    display: none;
  }

  #mobile-view {
    display: block;
  }

  .banner-text {
    position: absolute;
    top: 44%;
    left: 7%;
    z-index: 1;
  }

  .banner-text h1 {
    font-size: 3rem;
  }

  .quality-assurance p {
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    padding: 0 5%;
  }

  .quality-assurance {
    padding: 7px 0;
  }

  .trust-icons-df {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5%;
    margin-left: -3%;
  }

  .num {
    font-size: 2rem;
    color: #f28409;
  }

  .trust-icons-df > div {
    text-align: center;
    width: 175px;
    display: flex;
    align-items: center;
  }

  .satisfied::after {
    display: none;
  }

  .orders::after,
  .employee::after {
    content: "";
    width: 1px;
    height: 67px;
    border: 0.5px solid #cecece;
    position: absolute;
    top: 10%;
    right: -6%;
  }

  .orders::before {
    content: "";
    width: 134px;
    height: 1px;
    border: 0.5px solid #cecece;
    position: absolute;
    bottom: -7px;
    left: 13%;
  }

  .satisfied::before {
    content: "";
    width: 134px;
    height: 1px;
    border: 0.5px solid #cecece;
    position: absolute;
    top: 78px;
    right: 14%;
  }

  .trust-icons-df h4 {
    font-size: 14px;
    color: #054d84;
    font-weight: bolder;
  }

  .employee,
  .location {
    margin-top: 7%;
  }

  .profile-trans {
    transform: translateX(8%);
  }

  .profile-info-right,
  .profile-info-left {
    max-width: 100%;
  }

  .profile-info {
    flex-direction: column;
    padding: 5% 7%;
    text-align: justify;
  }

  .profile-info-right {
    margin-top: 25%;
  }

  .profile-info-right p:first-of-type {
    margin-top: 6px;
  }

  .profile-info-right button {
    margin-top: 8px;
  }

  .profile-btn {
    display: flex;
    justify-content: center;
  }

  .profile-info-right p {
    font-size: 18px;
    text-align: left;
    word-spacing: 2px;
  }

  .profile-header-blue {
    margin-top: 3px;
    width: 6px;
    height: 27px;
    background-color: #0080ff;
  }

  .profile-info-left {
    margin-top: 10%;
  }

  .product-df > div {
    padding: 4%;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }

  .product-details {
    margin-top: 9%;
    margin-left: 0;
  }

  #product2-detail {
    margin-top: 4%;
  }

  .product-details ul li {
    font-size: 17px;
    margin-top: 6px;
    list-style: disc;
  }

  .product-details button {
    margin-top: 8px;
  }

  .product-details-button {
    display: flex;
    justify-content: center;
  }

  .product-details h3 {
    font-size: 1.5rem;
  }

  .product-image img {
    width: 47%;
    height: 0%;
    margin-left: 0;
  }

  .product-option h4 {
    font-size: 14px;
  }

  .product {
    padding: 2% 3%;
  }

  .product-image {
    display: flex;
    justify-content: center;
  }

  .product-details-header h3 {
    margin-left: 9px;
  }

  #finn-wall {
    width: 60%;
    margin-left: 0;
  }

  .product-details p {
    max-width: 100%;
    margin-left: 0;
  }

  #product2-detail button {
    margin-left: 0;
  }

  #product2-detail p:first-of-type {
    margin-top: 10px;
  }

  .product2-detail-header h1 {
    margin-left: 0;
  }

  .product-header h1 {
    font-weight: bolder;
    font-size: 1.8rem;
  }

  #product2-detail {
    margin-left: 0;
  }

  #product2-detail p {
    font-size: 16px;
  }

  #product3-detail {
    margin-left: 0;
  }

  #product3-detail p {
    margin-left: 0;
    margin-top: 10px;
    max-width: 100%;
    font-size: 16px;
    text-align: justify;
  }

  .aero img {
    -webkit-clip-path: circle(50%);
    clip-path: circle(36%);
    margin-top: 20px;
  }

  .option {
    height: 40px;
  }

  .map-img svg {
    width: 100%;
    height: 41vh;
  }

  .map-header h1 {
    font-family: var(--heading-font);
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 3%;
  }

  #marker-one {
    position: absolute;
    top: 50%;
    right: 37%;
    width: 20px;
    height: 20px;
  }

  #marker-two {
    position: absolute;
    top: 40%;
    right: 43%;
    width: 20px;
    height: 20px;
  }

  .information-one,
  .information-two,
  .information-three {
    width: 51%;
    height: 360px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: absolute;
    top: 78%;
    left: 2%;
    padding: 5px;
  }

  .information-one-overlap-details h4,
  .information-two-overlap-details h4,
  .information-three-overlap-details h4 {
    margin-top: 20px;
    font-weight: bolder;
    max-width: 90%;
    margin-left: 4%;
    color: #f1850a;
    font-size: 14px;
  }

  .information-one-overlap-details p,
  .information-two-overlap-details p,
  .information-three-overlap-details p {
    margin-top: 10px;
    max-width: 90%;
    margin-left: 4%;
    font-size: 13px;
  }

  .information-one-overlap-img img,
  .information-two-overlap-img img,
  .information-three-overlap-img img {
    width: 99%;
    height: 140px;
    margin-top: 5%;
    margin-left: 0;
  }

  .map {
    margin-top: 10%;
    background-color: #f3f1f1;
    position: relative;
  }

  .review {
    margin-top: 75%;
  }

  .review-df {
    width: 90%;
    height: 450px;
    border: 3px solid #e6873b;
  }

  .review-header h1::before {
    content: "";
    width: 6px;
    height: 32px;
    background-color: #0080ff;
    position: absolute;
    top: -2px;
    left: -12px;
  }

  .review-header {
    display: flex;
    justify-content: center;
  }

  .review-header h1 {
    max-width: 80%;
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--heading-font);
    margin-top: 10%;
    position: relative;
  }

  .review-left img {
    width: 120px;
    height: 96px;
  }

  .review-left {
    height: 168px;
    text-align: center;
    box-shadow: rgb(63 63 72 / 20%) 0px 7px 29px 0px;
    padding: 2%;
  }

  .review-max {
    flex-direction: column;
    align-items: center;
    padding: 2% 4%;
  }

  .review-right {
    max-width: 100%;
    margin-top: 6%;
  }

  .review-left h1 {
    margin-top: 8px;
    font-size: 22px;
  }

  .review-left h4 {
    font-size: 14px;
    margin-top: -5px;
  }

  .certification {
    margin-top: 15%;
  }

  .certification img {
    margin-top: 7%;
    width: 150px;
    height: 170px;
  }

  .form {
    flex-direction: column;
  }

  .form-left p {
    font-size: 15px;
  }

  .form-right {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px 19px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
  }

  form input {
    width: 320px;
    border-radius: 8px;
    height: 44px;
    font-size: 20px;
    padding: 3px 10px 3px 15px;
    margin-top: 2%;
    border: 1px solid #a4a4a4;
    text-transform: lowercase;
  }

  .form-right-overlap {
    display: none;
  }

  .form-left {
    max-width: 100%;
  }

  .form-left {
    padding: 0 7%;
  }

  .footer-contact-form {
    margin-top: 15%;
  }

  .certification-header h1 {
    font-size: 2rem;
  }

  .form-header h1 {
    font-size: 2.1rem;
  }

  .fotter-servcie {
    margin-left: 10%;
  }

  .footer-contact {
    max-width: 100%;
    text-transform: capitalize;
    margin-left: 8%;
  }

  .mobile-df {
    display: flex;
    justify-content: center;
    gap: 11%;
    margin-top: 10%;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .fotter-servcie li {
    margin-top: 8px;
    font-size: 16px;
  }

  .footer-contact li {
    font-size: 15px;
    margin-top: 10px;
    font-family: "Catamaran";
  }

  .footer-df {
    margin-bottom: 10%;
  }

  #message {
    width: 100%;
    height: 100%;
  }

  .footer-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .fotter-servcie li:first-of-type {
    margin-top: 0;
  }

  .footer-contact li:first-of-type {
    margin-top: 1%;
  }

  #cancel {
    width: 28px;
    margin-left: 5px;
  }
}
